<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <%= (title == 'home') ? 'active' :'' %>" aria-current="page" href="../admin">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= (title == 'utilisateurs') ? 'active' :'' %>" href="../admin/utilisateurs">Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= (title == 'demandes') ? 'active' :'' %>" href="../admin/demandes">Demandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= (title == 'offres') ? 'active' :'' %>" href="../admin/offres">Offres d'emploi</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
