
<%- include('partials/header.ejs') %>

<div class="container">
    <div class="row col-9 m-auto">
        <h1 class="display-5 fw-bold lh-1 mb-3">Mes candidatures</h1>
        <div class="border-1 border p-2 my-2">
            <h4 class="">Développeur Front-end <span class="badge text-bg-secondary float-end">45000 €</span></h4>
            <p>Nous cherchons un développeur Front-end pour rejoindre notre équipe de développement. Le candidat
                idéal
                possède une solide expérience en HTML, CSS et JavaScript.</p>
            <p>Organisation : Nom de l'organisation</p>
            <p>Status : <span class="badge text-bg-secondary float-end">En attente €</span></p>
        </div>
        <div class="border-1 border p-2 my-2">
            <h4 class="">Ingénieur DevOps <span class="badge text-bg-secondary float-end">45000 €</span></h4>
            <p>Nous recherchons un ingénieur DevOps pour rejoindre notre équipe de
                développement. Le candidat idéal doit posséder une expérience approfondie en administration système,
                en déploiement d'applications et en gestion de serveurs</p>
            <p>Status : <span class="badge text-bg-success float-end">Succès</span></p>
        </div>
    </div>
</div>

</body>
</html>
