
<%- include('partials/header.ejs') %>.

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <h1>Inscription</h1>
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
        </div>
        <div class="mb-3">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="adresse email">
        </div>
        <div class="mb-3">
            <label for="tel" class="form-label">Téléphone</label>
            <input type="tel" class="form-control" id="tel" name="telephone" placeholder="Numéro de téléphone">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Confirmation du mot de passe</label>
            <input type="password" class="form-control" id="passwordConfirm" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn btn-primary">S'inscrire</button>

    </form>
</div>
</body>
</html>
