
<%- include('partials/header.ejs') %>.

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <h1>Inscription</h1>
      <% if(messages){ %>
      <div class="alert alert-danger text-center" role="alert">
           <%= messages %>
      </div>
      <% } %>
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
        </div>
        <div class="mb-3">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="adresse email">
        </div>
        <div class="mb-3">
            <label for="tel" class="form-label">Téléphone</label>
            <input type="tel" class="form-control" id="tel" name="telephone" placeholder="Numéro de téléphone">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
        </div>
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">Confirmation du mot de passe</label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Mot de passe">
            <span class="password-match"></span>
            <br>
            <span class="password-requirements"></span>
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">S'inscrire</button>
    </form>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#passwordConfirm, #password').keyup(function() {
                const password = $('#password').val();
                const passwordConfirm = $('#passwordConfirm').val();
                const submitBtn = $('#submitBtn');
                const matchMessage = $('.password-match');
                const requirementsMessage = $('.password-requirements');
                const regex = /^(?=.*[a-z].*[a-z])(?=.*[A-Z].*[A-Z])(?=.*\d.*\d)(?=.*[$@!%*?&#].*[$@!%*?&#])[A-Za-z\d$@!%*?&#]{12,}$/;

                if (password === passwordConfirm) {
                    matchMessage.removeClass('text-danger').addClass('text-success').text('Les mots de passe correspondent.');
                    submitBtn.prop('disabled', false);
                } else {
                    matchMessage.removeClass('text-success').addClass('text-danger').text('Les mots de passe ne correspondent pas.');
                    submitBtn.prop('disabled', true);
                }

                if (regex.test(password)) {
                    requirementsMessage.removeClass('text-danger').addClass('text-success').text('Mot de passe valide.');
                } else {
                    requirementsMessage.removeClass('text-success').addClass('text-danger').text('Mot de passe invalide. Il doit contenir au moins 12 caractères, avec au moins une majuscule, une minuscule, un chiffre et un caractère spécial.');
                }
            });
        });
    </script>
</body>
</html>
